#foto{
    
    border: double purple;
    border-width: 5px;
    }
#cita{
    font-size: 15px;
}
.fecha{
    font-weight: bold;
}
footer{
    display: flex;
    margin-top: 50px;
    flex-direction: row-reverse;
    
}
body{
    background-color: rgba(255, 225, 0, 0.669);
}
#timeline{
    display: flex;
    flex-direction: column-reverse;
}